<div class="container-fluid">
  <div class="col-md-offset-1">
    <h1>
      Bem vindo ao pesquisa posto!!
    </h1>
  </div>
  
  <a routerLink="/add-posto"> Cadastro de Posto</a>
  <a style="margin-left:10px" routerLink="/add-cliente">Cadastro de Cliente</a>
  <a  style="margin-left:10px"  routerLink="/login">Login</a>
  <a  style="margin-left:10px" routerLink="/lista-clientes"> Lista de Clientes</a>
  <a  style="margin-left:10px" routerLink="/lista-postos"> Lista de Postos</a>

  <br/>
  <router-outlet></router-outlet>
</div>