<div class="col-md-6">
  <h2> Lista de Postos {{usuarioLog}}</h2>
  
  <table class="table table-striped">
    <thead>
      <tr>
        <th class="hidden">Id</th>
        <th>Nome</th>
        <th>Endereço</th>
        <th>Horário de Atendimento</th>
        <th>Combustiveis</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let posto of postos">
        <td class="hidden">{{posto.id}}</td>
        <td>{{posto.nome}}</td>
        <td>{{posto.endereco}}</td>
        <td>{{posto.horarioAberto}} as {{posto.horarioFechado}}</td>
        <td><button class="btn btn-danger"  [routerLink]="['/lista-combustiveis', posto.id]">
           Abrir Combustiveis</button></td>
        <!-- <td><button class="btn btn-danger" (click)="deleteUser(user)"> Abrir</button></td> -->

      </tr>
    </tbody>
  </table>
</div>